[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/elaoshi
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/elaoshi
	label-Verified = -1..+1 group user/elaoshi
	push = group user/elaoshi
	read = group user/elaoshi
	rebase = group user/elaoshi
	removeReviewer = group user/elaoshi
	submit = group user/elaoshi
[access "refs/heads/*"]
	create = group user/elaoshi
	push = +force group user/elaoshi
	pushMerge = group user/elaoshi
	read = group user/elaoshi
[access "refs/tags/*"]
	push = group user/elaoshi
	push = +force group user/elaoshi
